// Specific CSS for your home-page
body {
  color: $navy;
}


.home-intro{
  text-align: justify;
  font-size: 20px;
  background-color: $navy;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  color: white;
  margin-top: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  .home-intro-text{
    margin: 3rem 3rem;
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h1 {
      font-size: 40px;
      font-weight: bold;
      color: $light-gold;
    }
    p {
      font-size:15px;
    }
  }
  .home-video{
    width: 90%;
    height: 90%;
    object-fit: cover;
  }
}

.small-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.small-cards{
  .small-card{
    background: #FDFCFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 48px;
    padding: 1rem 3rem;
    span{
      font-weight: 700;
    }
    p{
      margin-bottom: 0rem;
    }
  }
}

.how-tos{
  display: grid;
  // grid-template-columns: 1fr 1fr;
  .c_how-tos {
    background-color: $navy;
    border-radius: 10px;
    margin: 2rem;
    padding-top: 2em;
      h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: $light-gold;
      }
    .how-to{
      margin: auto;
      .circle{
        background-color: white;
      }
      .circle-yellow{
        background-color: $light-gold;
      }
      .circle, .circle-yellow{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $navy;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
      }
      p {
        color: $light-gold;
        text-align: center;
        margin: 1em;
      }
    }
  }
  video{
    width: 99%;
    height: 99%;
    object-fit: cover;
    padding: 2rem;
  }
}


.join-us-col{
  p {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: $navy;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 400px) {
  .how-tos-grid{
    margin: 1rem;
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .home-intro, .small-cards, .how-tos-grid {
    grid-template-columns: 1fr;
    }

    .small-cards{
      .small-card{
        margin: 1rem 2rem;
      }
    }

    .home-intro{
      height: 150vh;
    }
  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width:767px) {
  .home-intro, .small-cards, .how-tos {
    grid-template-columns: 1fr;
  }
  .small-cards{
    .small-card{
      margin: 1rem 2rem;
    }
  }
  .home-intro{
    height: 100vh;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .home-intro {
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .how-tos{
    grid-template-columns: 1fr;
  }
  .how-tos-grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem;
    margin: 3rem;
  }
  .small-cards {
    grid-template-columns: 1fr;
    .small-card{
      margin: 1rem 2rem;
    }
  }
  .home-intro{
    height: 100vh;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .home-intro {
    grid-template-columns: 1fr 1fr;
    height: 70vh;
  }
  .how-tos{
    grid-template-columns: 1fr 1fr;
  }
  .small-cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin: 2rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .home-intro {
    grid-template-columns: 1fr 1fr;
    height: 70vh;
  }
  .how-tos{
    grid-template-columns: 1fr 1fr;
  }
  .small-cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem;
    margin: 3rem;
  }

}
