<div class="about_us_photo my-5">
  <%= image_tag "https://cdn.stocksnap.io/img-thumbs/960w/business-team_V8NHXQVQ70.jpg" %>
</div>
<div class="about_us_grid">
  <div class="about_us">
    <div class="c_about_us">
      <h5><span>Notre</span> histoire</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>
  </div>
  <div class="about_us">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at consequat quam. Proin convallis id nulla in semper. Curabitur molestie nisl a nulla fringilla, vitae lacinia velit commodo. Vestibulum ante ipsum primis in faucibus orci </p>
  </div>
  <div class="about_us">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at consequat quam. Proin convallis id nulla in semper. Curabitur molestie nisl a nulla fringilla, vitae lacinia velit commodo. Vestibulum ante ipsum primis in faucibus orci </p>
  </div>
  <div class="about_us">
    <div class="c_about_us">
      <h5><span>Nos </span>engagements</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>
  </div>
</div>
