<div class="container">
  <div class="cpf_photo my-5">
    <%= image_tag 'https://cdn.stocksnap.io/img-thumbs/960w/word-letters_BLRAORQYEP.jpg' %>
  </div>
  <div class="cpf_explications">
    <h3>CPF ? Explications !</h3><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. nunc. Fusce ipsum elit, iaculis sed tempus et, facilisis ut mi. Nunc elit orci, pretium et pulvinar vitae, ultricies id est. Sed augue ligula, tincidunt ac nisi et, cursus semper dolor. Maecenas purus arcu, varius vitae faucibus in, sodales ut leo.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. nunc. Fusce ipsum elit, iaculis sed tempus et, facilisis ut mi. Nunc elit orci, pretium et pulvinar vitae, ultricies id est. Sed augue ligula, tincidunt ac nisi et, cursus semper dolor. Maecenas purus arcu, varius vitae faucibus in, sodales ut leo. </p>
    <br>

    <h3>CPF ? Explications !</h3><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. nunc. Fusce ipsum elit, iaculis sed tempus et, facilisis ut mi. Nunc elit orci, pretium et pulvinar vitae, ultricies id est. Sed augue ligula, tincidunt ac nisi et, cursus semper dolor. Maecenas purus arcu, varius vitae faucibus in, sodales ut leo.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. nunc. Fusce ipsum elit, iaculis sed tempus et, facilisis ut mi. Nunc elit orci, pretium et pulvinar vitae, ultricies id est. Sed augue ligula, tincidunt ac nisi et, cursus semper dolor. Maecenas purus arcu, varius vitae faucibus in, sodales ut leo. </p>
  </div>
  <div class="cpf_photo my-5">
    <%= image_tag 'https://cdn.stocksnap.io/img-thumbs/960w/word-letters_BLRAORQYEP.jpg' %>
  </div>
  <div class="cpf_grid">
    <div class="c_cpf_grid">
      <h3>Prêt à se (re)former ?</h3>
      <div class="CTA-btn_small_1">
        <%= link_to "Retrouvez toutes nos formations", formations_path %>
      </div>
    </div>
    <div class="c_cpf_grid">
      <h3>Une question ? Un renseignement ?</h3>
      <div class="CTA-btn_small_2">
        <%= link_to "Contactez-nous !", "#" %>
      </div>
    </div>
  </div>
</div>
