<div>
  <h4>Qu'allez-vous apprendre ?</h4>
  <% if @formation.description.match?(/\r\n\r\n/) || @formation.description.match?(/\r\n/) || @formation.description.match?(/\n/) || @formation.description.match?(/\r/)%>
    <%= h(@formation.description).gsub(/\r\n\r\n/, '<br> <br>').gsub(/\r\n/, '<br>').gsub(/\r/, '<br>').gsub(/\n/, '<br>').html_safe %>
  <% else %>
    <%= @formation.description %>
  <% end %>
</div>
