<ul class="list-unstyled">
  <li class="c-c_card-show d-flex align-items-center">
    <span class="material-symbols-outlined">
      pin_drop
    </span>
    <%= @formation.lieu %>
  </li>
  <li class="c-c_card-show d-flex align-items-center">
    <span class="material-symbols-outlined">
      schedule
    </span>
    <%= @formation.duree %>
  </li>
  <li class="c-c_card-show d-flex align-items-center">
    <span class="material-symbols-outlined">
      euro
    </span>
      <p id="formation_price">
        <%= @formation.prix %>€
      </p>
  </li>
</ul>
